<div class="catalog">
  <div class="catalog__search">

  </div>

  <div class="catalog__l-box">
    <div class="catalog__sidebar">

    </div>
    <div class="catalog__list">
      <mat-card class="catalog__item">
        <mat-card-header>
          Product Name
        </mat-card-header>
        <mat-card-content>
          aldsjf
        </mat-card-content>
        <mat-card-footer>
          Price: 30$
        </mat-card-footer>
      </mat-card>
      <mat-card class="catalog__item"></mat-card>
      <mat-card class="catalog__item"></mat-card>
      <mat-card class="catalog__item"></mat-card>
      <mat-card class="catalog__item"></mat-card>
    </div>
  </div>

</div>
