<div class="catalog mt-5">
  <div class="catalog__search">

  </div>

  <div class="catalog__l-box">
    <div class="catalog__sidebar">
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Filter 1</mat-expansion-panel-header>

          <mat-checkbox>Filter smth!</mat-checkbox>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Filter 2</mat-expansion-panel-header>

          <mat-checkbox>Filter smth!</mat-checkbox>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Filter 3</mat-expansion-panel-header>

          <mat-checkbox>Filter smth!</mat-checkbox>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Filter 4</mat-expansion-panel-header>

          <mat-checkbox>Filter smth!</mat-checkbox>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="catalog__list">
      <mat-card class="catalog__item">
        <mat-card-header>
          <mat-card-title>Redmi A8</mat-card-title>
          <mat-card-subtitle class="subtitle">Xiomi</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
          alt="Photo of Redmi A8"
        >


        <mat-card-actions class="row-between">
          <div>
            <button mat-raised-button color="accent">Buy</button>
            <button mat-raised-button color="primary">Details</button>
          </div>
          <b class="price">55$</b>
        </mat-card-actions>
      </mat-card>
      <mat-card class="catalog__item">
        <mat-card-header>
          <mat-card-title>Redmi A8</mat-card-title>
          <mat-card-subtitle class="subtitle">Xiomi</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
          alt="Photo of Redmi A8"
        >


        <mat-card-actions class="row-between">
          <div>
            <button mat-raised-button color="accent">Buy</button>
            <button mat-raised-button color="primary">Details</button>
          </div>
          <b class="price">55$</b>
        </mat-card-actions>
      </mat-card>
      <mat-card class="catalog__item">
        <mat-card-header>
          <mat-card-title>Redmi A8</mat-card-title>
          <mat-card-subtitle class="subtitle">Xiomi</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
          alt="Photo of Redmi A8"
        >


        <mat-card-actions class="row-between">
          <div>
            <button mat-raised-button color="accent">Buy</button>
            <button mat-raised-button color="primary">Details</button>
          </div>
          <b class="price">55$</b>
        </mat-card-actions>
      </mat-card>
      <mat-card class="catalog__item">
        <mat-card-header>
          <mat-card-title>Redmi A8</mat-card-title>
          <mat-card-subtitle class="subtitle">Xiomi</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
          alt="Photo of Redmi A8"
        >


        <mat-card-actions class="row-between">
          <div>
            <button mat-raised-button color="accent">Buy</button>
            <button mat-raised-button color="primary">Details</button>
          </div>
          <b class="price">55$</b>
        </mat-card-actions>
      </mat-card>
      <mat-card class="catalog__item">
        <mat-card-header>
          <mat-card-title>Redmi A8</mat-card-title>
          <mat-card-subtitle class="subtitle">Xiomi</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
          alt="Photo of Redmi A8"
        >


        <mat-card-actions class="row-between">
          <div>
            <button mat-raised-button color="accent">Buy</button>
            <button mat-raised-button color="primary">Details</button>
          </div>
          <b class="price">55$</b>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
