<div class="catalog mt-5">
  <div class="catalog__search"></div>

  <div class="catalog__l-box">
    <div class="catalog__sidebar">
      <app-filters
        [filters]="filtersMeta"
        (query)="onFiltersChange($event)"
        (search)="onSearch()"
      >
      </app-filters>
    </div>

    <mat-card class="w-100 message" *ngIf="products.length === 0">
      <mat-card-content>
        У нас пока еще нету продуктов. Приходите позже.
      </mat-card-content>
    </mat-card>

    <div class="catalog__list">
      <mat-card
        class="catalog__item"
        *ngFor="let product of products; trackBy: trackProductById"
      >
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{
            product.brand
            }}</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          src="{{ product.imagePath }}"
          alt="Photo of {{ product.name }}"
        />

        <mat-card-actions class="row-between">
          <div>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/product', product.id]"
            >
              Details
            </button>
          </div>
          <b class="price">{{ product.price }}$</b>
        </mat-card-actions>
      </mat-card>

      <div class="row w-100 justify-content-center" *ngIf="products.length > 0">
        <button mat-raised-button color="accent" (click)="onLoadMore()">
          Загрузить еще
        </button>
      </div>
    </div>
  </div>
</div>

<app-loader [active]="loading"></app-loader>
