
<section class="basket mt-5">
  <mat-card>
    <mat-card-header class="d-flex justify-content-center">
      <h2>Your Basket</h2>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <img
            matListAvatar
            class="mr-2"
            src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
            alt=""
          >
          <div
            class="d-flex justify-content-between align-items-center w-100"
            matline
          >
            <span>Xiomi Redmi Note 8</span>
            <div
              class="d-flex align-items-center"
            >
              <button mat-icon-button>
                <mat-icon>
                  keyboard_arrow_left
                </mat-icon>
              </button>
              <div class="count">2</div>
              <button mat-icon-button>
                <mat-icon>
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
            <span>155$</span>
          </div>
        </mat-list-item>

        <mat-list-item>
          <img
            matListAvatar
            class="mr-2"
            src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg"
            alt=""
          >
          <div
            class="d-flex justify-content-between align-items-center w-100"
            matline
          >
            <span>Xiomi Redmi Note 2</span>
            <div
              class="d-flex align-items-center"
            >
              <button mat-icon-button>
                <mat-icon>
                  keyboard_arrow_left
                </mat-icon>
              </button>
              <div class="count">1</div>
              <button mat-icon-button>
                <mat-icon>
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
            <span>105$</span>
          </div>
        </mat-list-item>

      </mat-list>

      <div class="d-flex justify-content-end pr-3 mt-1">
        Total: 260 $
      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="accent">Buy</button>
    </mat-card-actions>
  </mat-card>

</section>
