<mat-card class="sign-up">
  <mat-card-header class="sign-up__header">
    <b>Sign-up</b>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper linear>
      <mat-step [stepControl]="personalDataForm" editable>
        <ng-template matStepLabel>Personal Information</ng-template>

        <form [formGroup]="personalDataForm">

          <div>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input
                formControlName="firstName"
                matInput
                type="text"
                placeholder="First name"
              >
              <mat-error
                *ngIf="isInvalid(personalDataForm, 'firstName')"
              >
                {{getErrorMessage(personalDataForm, 'firstName')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input
                formControlName="lastName"
                matInput
                type="text"
                placeholder="Last name"
              >
              <mat-error
                *ngIf="isInvalid(personalDataForm, 'lastName')"
              >
                {{getErrorMessage(personalDataForm, 'lastName')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                type="email"
                placeholder="First name"
              >
              <mat-error
                *ngIf="isInvalid(personalDataForm, 'email')"
              >
                {{getErrorMessage(personalDataForm, 'email')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Date of birth</mat-label>
              <input
                formControlName="dateOfBirth"
                matInput
                [matDatepicker]="picker"
              >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="isInvalid(personalDataForm, 'dateOfBirth')"
              >
                {{getErrorMessage(personalDataForm, 'dateOfBirth')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Sex</mat-label>
              <mat-select formControlName="sex">
                <mat-option *ngFor="let option of sexOptions" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div>
            <button mat-raised-button matStepperNext [disabled]="personalDataForm.invalid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="addressForm" editable>
        <ng-template matStepLabel>Address</ng-template>
        <form [formGroup]="addressForm">

          <div>
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input
                formControlName="country"
                matInput
                type="text"
                placeholder="Country"
              >
              <mat-error
                *ngIf="isInvalid(addressForm, 'country')"
              >
                {{getErrorMessage(addressForm, 'country')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input
                formControlName="city"
                matInput
                type="text"
                placeholder="City"
              >
              <mat-error
                *ngIf="isInvalid(addressForm, 'city')"
              >
                {{getErrorMessage(addressForm, 'city')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Street</mat-label>
              <input
                formControlName="street"
                matInput
                type="text"
                placeholder="Street"
              >
              <mat-error
                *ngIf="isInvalid(addressForm, 'street')"
              >
                {{getErrorMessage(addressForm, 'street')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Building</mat-label>
              <input
                formControlName="building"
                matInput
                type="text"
                placeholder="Building"
              >
              <mat-error
                *ngIf="isInvalid(addressForm, 'building')"
              >
                {{getErrorMessage(addressForm, 'building')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Flat (optional)</mat-label>
              <input
                formControlName="flat"
                matInput
                type="text"
                placeholder="flat"
              >
              <mat-error
                *ngIf="isInvalid(addressForm, 'flat')"
              >
                {{getErrorMessage(addressForm, 'flat')}}
              </mat-error>
            </mat-form-field>
          </div>

        </form>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step editable>
        <ng-template matStepLabel>Payment information</ng-template>
        <form [formGroup]="paymentForm">

          <div>
            <mat-form-field>
              <mat-label>Card number</mat-label>
              <input
                formControlName="cardNumber"
                matInput
                type="text"
                placeholder="Card number"
              >
              <mat-error
                *ngIf="isInvalid(paymentForm, 'cardNumber')"
              >
                {{getErrorMessage(paymentForm, 'cardNumber', 16, 20)}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Expiration date</mat-label>
              <input
                formControlName="expirationDate"
                matInput
                type="text"
                placeholder="Expiration date"
              >
              <mat-error
                *ngIf="isInvalid(paymentForm, 'expirationDate')"
              >
                {{getErrorMessage(paymentForm, 'expirationDate')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>CVV</mat-label>
              <input
                formControlName="cvv"
                matInput
                type="text"
                placeholder="CVV"
              >
              <mat-error
                *ngIf="isInvalid(paymentForm, 'cvv')"
              >
                {{getErrorMessage(paymentForm, 'cvv')}}
              </mat-error>
            </mat-form-field>
          </div>

        </form>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Complete</ng-template>
        <div>
          <button
            mat-raised-button
            [disabled]="isFormValid()"
            (click)="signUp()"
          >Send!
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
