
<div class="login-box mt-5">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-card__title">
        Логин
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="form">
        <mat-form-field>
          <mat-label>Електронная почта*</mat-label>
          <input type="email" matInput formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Пароль*</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-icon matSuffix>remove_red_eye</mat-icon>
          <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

      </form>

    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button color="accent"
        [disabled]="this.loginForm.invalid"
        (click)="onSubmit()"
      >
        Отправить
      </button>
    </mat-card-actions>
  </mat-card>

</div>
