<header class="header mat-elevation-z6">
  <nav>
    <button mat-button routerLink="catalog">
      <b>Каталог</b>
    </button>

    <button *ngIf="isUserAdmin$ | async" mat-button routerLink="admin">
      <b>Панель администратора</b>
    </button>

    <button
      mat-button
      routerLink="track-order"
    >
      Отследить заказ
    </button>
  </nav>

  <div class="flex-spacer"></div>

  <button class="pr-2" [routerLink]="'basket'" mat-icon-button>
    <mat-icon matBadge="{{ total$ | async }}">
      shopping_cart
    </mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <ng-container *ngIf="!(isUserAuthorized$ | async); else elseBlock">
      <button mat-menu-item routerLink="login">
        Логин
      </button>
      <button mat-menu-item routerLink="sign-up">
        Зарегистрироваться
      </button>
    </ng-container>

    <ng-template #elseBlock>
      <button mat-menu-item routerLink="profile">
        Профиль
      </button>

      <button mat-menu-item (click)="onLogout()">
        Выйти из аккаунта
      </button>
    </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>
      person
    </mat-icon>
  </button>
</header>
