<section class="product mt-5">
  <mat-card *ngIf="product" class="product_card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
    </mat-card-header>

    <div class="row justify-content-center">
      <img src="{{ product.imagePath }}" alt="Image" />
    </div>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Характеристики">
          <div
            class="characteristic row"
            *ngFor="let characteristic of product.characteristics"
          >
            <span class="characteristic__name">
              {{ characteristic.descriptor.name }}
            </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
              {{ characteristic.value }}
            </span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button (click)="onBuyProduct()" mat-raised-button color="primary">
        Купить
      </button>
      <span class="price">
        <b>{{ product.price }} $</b></span
      >
    </mat-card-actions>
  </mat-card>
</section>
