<section class="product mt-5">
  <mat-card class="product_card">
    <mat-card-header>
      <mat-card-title>Redmi Note T8</mat-card-title>
      <mat-card-subtitle>Xiaomi</mat-card-subtitle>
    </mat-card-header>

    <div class="row justify-content-center">
      <img src="https://i.citrus.ua/uploads/shop/a/1/a1b9d4beb6ca736693803475ae8fd57a.jpg" alt="Image">
    </div>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Description">
          <p> Lorem alkfdj owie lskdf skjf; akwe fa
            s fwej ofij alskf jewoi fjas;ld kfjweoi faj; ew fqpe ifjsa;lkd fjweo fijasld a
            fkjas;ldkf jweoi jflwkejf lksdf</p>
        </mat-tab>
        <mat-tab label="Characteristics">
          <div class="characteristic row">
           <span class="characteristic__name">
             Display
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             5.5`
           </span>
          </div>

          <div class="characteristic row">
           <span class="characteristic__name">
             Display Matrix
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             IPS
           </span>
          </div>

          <div class="characteristic row">
           <span class="characteristic__name">
             Display material
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             Gorilla Glass 5
           </span>
          </div>


          <div class="characteristic row">
           <span class="characteristic__name">
             RAM
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             4 GB
           </span>
          </div>

          <div class="characteristic row">
           <span class="characteristic__name">
             Memory
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             64 GB
           </span>
          </div>

          <div class="characteristic row">
           <span class="characteristic__name">
             Operating System
           </span>
            <span class="flex-spacer"></span>
            <span class="characteristic__value">
             Android
           </span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <mat-card-actions class="actions">
        <button mat-raised-button color="primary">Buy</button>
        <span class="price"> <b>55 $</b></span>
    </mat-card-actions>
  </mat-card>

</section>
