<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let filter of filters">
    <mat-expansion-panel-header>
      {{ filter.name }}
    </mat-expansion-panel-header>

    <ng-container [ngSwitch]="filter.type">
      <ng-container *ngSwitchCase="'text'">
        <mat-form-field class="w-100">
          <mat-label>{{ filter.label }}</mat-label>

          <div>
            <input
              type="text"
              matInput
              [(ngModel)]="filter.selectedValue"
              (ngModelChange)="onChange()"
            />
          </div>
        </mat-form-field>
        <button color="accent" mat-raised-button (click)="onSearch()">
          Искать
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="'range'">
        <div class="w-100">
          <div>{{ filter.label }}</div>

          <div>
            <mat-slider
              class="w-100"
              step="5"
              min="0"
              max="{{filter.max}}"
              thumbLabel
              [(ngModel)]="filter.selectedValue"
              (ngModelChange)="onChange()"
            >
            </mat-slider>
          </div>
        </div>
        <button color="accent" mat-raised-button (click)="onSearch()">
          Искать
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="'select'">
        <mat-form-field class="w-100">
          <mat-label>{{ filter.label }}</mat-label>

          <mat-select
            [(ngModel)]="filter.selectedValue"
            (valueChange)="onSelectChange()"
            *ngSwitchCase="'select'"
          >
            <mat-option
              *ngFor="let option of filter.options"
              value="{{ option.value }}"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
